<!DOCTYPE html>
<html>
<head>
    <title>Random photo generator</title>
</head>
<body>
    <div style="margin-top: 20px;">
        <a href="{% url 'sign_in' %}"><button>Login</button></a>
        <a href="{% url 'register' %}"><button>Register</button></a>
        {% if user.is_authenticated %}
        <a href=""><button>Logout</button></a>
        {% endif %}
    </div>
    <h1>Random Photo Generator</h1>
    <p>Whenever you refresh, you will get a random image with a watermark (SORRY, I had to!)</p>
    {% load static %}
    <img src="{% static 'image1_with_watermark.png' %}" alt="Watermarked Image">

</body>
</html>
